p{
    margin: 0;
}

.container {
    display: flex;
    flex-direction: column;
    padding: 10px;
    margin: 0;
    gap: 16px;

    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
        line-height: 1.5;
        font-weight: 400;
}